server:
  port: ${port:8080}

spring:
  application:
    name: springboot-error

security:
  basic:
    enabled: false
management:
  security:
    enabled: false

logging:
  level:
    root: ${logging.level:DEBUG}